*.dll
build/*
dist/*
RackPlugins/.vs/*
*.vcxproj
*.filters
*.log

*.log
RackPlugins/RackPlugins/RackPlugins.vcxproj.filters
*.vcxproj
RackPlugins/RackPlugins.sdf
*.vcxproj
RackPlugins/RackPlugins/RackPlugins.vcxproj.filters
